<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<integer>20</integer>
	<integer>21</integer>
	<integer>22</integer>
	<integer>23</integer>
	<integer>40</integer>
	<integer>41</integer>
	<integer>42</integer>
	<integer>43</integer>
	<integer>60</integer>
	<integer>61</integer>
	<integer>62</integer>
	<integer>63</integer>
	<integer>64</integer>
	<integer>80</integer>
	<integer>81</integer>
	<integer>82</integer>
	<integer>83</integer>
	<integer>100</integer>
	<integer>101</integer>
	<integer>102</integer>
	<integer>103</integer>
</array>
</plist>
